{% do attrs.set(class="
  relative px-5 py-2 w-full z-10
  text-sm text-center select-none
  border border-r-0 last:border-r border-zinc-600
  bg-zinc-800 text-zinc-500
  [&.ui-selected]:z-20
  [&.ui-selected]:text-white
  [&.ui-selected]:bg-[#181818]
  [&.ui-selected]:border-t-accent
  [&.ui-selected]:border-b-0
  [&.ui-selected]:border-t-2
  [&..ui-disabled]:cursor-not-allowed
  [&..ui-disabled]:z-0
  [&..ui-disabled]:text-zinc-400
  [&..ui-disabled]:bg-zinc-300
") %}

<Tab :__attrs="attrs">{{ content }}</Tab>
