<div {{ attrs.render(class="copy") }}>
  Website content copyright &copy; <a href="https://jpscaletti.com">Juan-Pablo Scaletti</a>.
  JinjaX and its documentation are licensed under the MIT license.
</div>