<div {{ attrs.render(class="copy") }}>
  <p>Website &copy; <a href="https://jpscaletti.com">Juan-Pablo Scaletti</a>.</p>
  <p>JinjaX and the documentation text licensed under the MIT license.</p>
</div>