{#def title="" #}
{#css Page.css #}

{% Layout title=title, description=meta.get('description', '') %}
  {% NavBar home=True end%}
  <main class="Page m-0 p-0 max-w-full text-xl font-sans">
    {% Home_Header %}
    <b>JinjaX</b>: Super components powers for your Jinja templates
    {% endHome_Header %}

    {% Home_Example end%}
    {% Home_Better end%}
    {% Home_Spaguetti end%}
    {% Home_Engage end%}
  </main>
  {% Menu class="lg:hidden" end%}
{% endLayout %}
