{#def base_url="/" #}

<a
  {{ attrs.render(class="Logo", href=base_url, title="Back home") }}>
  <img class="light" src="/static/img/jinjax-logo.svg" width="140" aria-hidden>
  <img class="dark" src="/static/img/jinjax-logo-dark.svg" width="140" aria-hidden>
</a>
