{% if nav.page.url == "/" -%}
<a
  class="hover:text-accent dark:hover:text-accent-darker"
  href="{{ nav.next_page.url }}"
>Docs</a>
{%- endif %}
<a
  title="Source code"
  href="https://github.com/jpsca/jinjax"
  class="hover:text-accent dark:hover:text-accent-darker"
>GitHub</a>
