@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #00c100;
    --accent-darker: theme(colors.lime.500);

    /* https://github.com/argyleink/open-props/blob/main/src/props.easing.css */
    --ease-3: cubic-bezier(.25,0,.3,1);
    --ease-out-5: cubic-bezier(0,0,0,1);
    --ease-elastic-3: cubic-bezier(.5,1.25,.75,1.25);
    --ease-elastic-4: cubic-bezier(.5,1.5,.75,1.25);
  }

  .prose a.headerlink {
    @apply opacity-0 transition-opacity inline-block ml-1 no-underline;
  }
  .prose h1 a.headerlink {
    display: none;
  }
  .prose h2:hover a.headerlink,
  .prose h3:hover a.headerlink,
  .prose h4:hover a.headerlink,
  .prose h5:hover a.headerlink,
  .prose h6:hover a.headerlink {
    @apply opacity-50;
  }

  .Page :where(code):not(:where(pre code)) {
    background-color: rgba(128,128,128,0.2);
    padding: 1px 2px;
    font-size: 0.98em;
  }
}

@layer components {
  .content {
    @apply pl-4 pr-4 sm:pl-6 sm:pr-6 lg:pl-8 lg:pr-8;
  }

  .border-default-color {
    @apply border-zinc-200 dark:border-zinc-600;
  }

  .bg-default-color {
    @apply bg-white dark:bg-zinc-800;
  }

  .text-default-color {
    @apply text-zinc-900 dark:text-white;
  }

  .bg-dimmed-color {
    @apply border-zinc-300 dark:border-zinc-600;
  }

  .text-dimmed-color {
    @apply text-zinc-400;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
  }
  .scrollbar-thin::-webkit-scrollbar { /* Safari and Chrome */
    width: 2px;
    background-color: ButtonFace;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--accent);
  }
  body.dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--accent-dark);
  }
  .scrollbar-default {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }
  .scrollbar-default::-webkit-scrollbar { /* Safari and Chrome */
    width: auto;
  }

  .macos-only, .macos .macos-hidden {
    display: none;
  }
  .macos .macos-only {
    display: block;
  }
}
