@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #00c100;
    --accent-darker: theme(colors.lime.500);

    --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
    --ease-out-5: cubic-bezier(0, 0, 0, 1);
    --ease-elastic-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
    --ease-elastic-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
  }
}

.fadeIn {
  opacity: 0;
  transform: scale(1.2);
  animation: fadeInAnimation var(--ease-elastic-3) 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: scale(2) rotateZ(10deg);
  }
  100% {
    opacity: 1;
    transform: scale(1.2) rotateZ(0);
  }
}
