{% filter markdown %}{% raw %}
```html+jinja
<PopButton id="pop-demo-btn" target="pop-demo-pop">Open popover</PopButton>

<Popover id="pop-demo-pop" anchor="pop-demo-btn" anchor-to="bottom">
  <h1>Edit Dimensions</h1>
  <fieldset class="space-y-2">
    <label>
      <span>Width</span>
      <input type="text" name="width" value="340px">
    </label>
    <label>
      <span>Height</span>
      <input type="text" name="height" value="25px">
    </label>
  </fieldset>

  <svg class="arrow" width="10" height="5" viewBox="0 0 30 10" aria-hidden="true">
    <polygon points="0,0 30,0 15,10"></polygon>
  </svg>
</Popover>
```
{% endraw %}{% endfilter %}
