[flake8]

application-package-names = jinjax
application-import-names = jinjax
import-order-style = pycharm

select =
	# bugbear
	B,
	# mccabe, comprehensions, commas
	C,
	# pycodestyle errors
	E,
	# pyflakes
	F,
	# logging format
	G,
	# imports
	I,
	P,
	# quotes
	Q,
	# pycodestyle warnings
	W,

ignore =
	# x is too complex
	C901,
	# whitespace before ':'
	E203,
	E501,
	# x defined from star imports
	F405,
	# line break before binary operator
	W503,
	W605,

max-line-length = 92
max-complexity = 10

inline-quotes = double
multiline-quotes = double
docstring-quotes = double

exclude =
	.git,
	.venv,
	__pycache__,
	conftest.py,
	docs,
