<svg
  {{ attrs.render() }} viewBox="0 0 3 6"
  stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
  fill="none" style="inline-size:0.5em; block-size:0.5em;"
><path d="M0 0L3 3L0 6"></path></svg>
