{% TextButton __attrs=attrs %}
  <svg
    class="pointer-events-none h-6 w-6 stroke-zinc-500"
    aria-hidden="true"
    stroke="currentColor" stroke-width="2"
    stroke-linecap="round" stroke-linejoin="round"
  >
    <line x1="4" y1="4" x2="20" y2="20"></line>
    <line x1="20" y1="4" x2="4" y2="20"></line>
  </svg>
{% endTextButton %}
