{% do attrs.set(class="flex-none px-4 py-1 flex items-center text-accent
  border-t border-b border-t-transparent border-b-accent
  [&[active]]:bg-black") %}

{% ui_Tab __attrs=attrs %}{{ content }}{% endui_Tab %}
