<div class="
  hidden group-hover:block group-focus:block
  absolute top-full -left-1/2 -mt-1
">
  <div class="
    absolute top-0 left-1/2 w-0 h-0 -ml-1
    border-t-0 border-l-4 border-r-4 border-b-8
    border-transparent border-b-white dark:border-b-black
    drop-shadow-[rgba(0,0,0,0.2)_0_-3px_1px]
  "></div>

  <div class="
    mt-2 p-1 text-sm font-medium rounded-md
    bg-white dark:bg-black
    shadow-[rgba(0,0,0,0.2)_0_-3px_6px,rgba(0,0,0,0.2)_0_3px_6px]
    text-zinc-900 dark:text-zinc-200

    [&_a]:w-full [&_a]:pl-6 [&_a]:pr-4 [&_a]:h-8 [&_a]:flex [&_a]:items-center
    [&_a:first-child]:rounded-t-md [&_a:last-child]:rounded-b-md
    [&_a.active]:pl-2 [&_a.active:before]:content-['✓'] [&_a.active:before]:pr-1
    [&_a:hover]:text-white [&_a:hover]:bg-accent [&_a:hover]:dark:bg-accent-darker
  ">
    {{ px-4 sm:px-6 lg:px-8 }}
  </div>
</div>
