<footer {{ attrs.render(class="tFooter") }}>
  <div class="wrapper">
    <Copyright />
    <div class="built-with">
      This site was
      <a title="Coming soon!">built using Claydocs</a>
    </div>
    <ThemeSwitch class="themeswitch" />
  </div>
</footer>
