{#js toggle.js #}

<div {{ attrs.render() }}>
  <TextButton title="Show menu" data_toggle="#menu|[open]">
    <div class="pointer-events-none leading-6 w-14 h-6">
      Menu
    </div>
  </TextButton>
</div>
