{#def title="", section="" #}

{% set section = section or nav.page.section if section != false else None %}
{% set title = title or nav.page.title %}

<header {{ attrs.render(
  class="cd-header not-prose",
  data_component="Header",
  id="_top"
) }}>
  <div>
    {% if section -%}
    <p>{{ section }}</p>
    {%- endif %}
    <h1>
      <a tabindex="0" href="#">{{ title | utils.widont }}</a>
    </h1>
  </div>
  <p class="description">{{ content | utils.widont }}</p>
</header>
