{#def title="", section="" #}

{% set section = section or page.section if section != false else None %}
{% set title = title or page.title %}

<header {{ attrs.render(
  class="cd-header",
  data_component="Header",
) }}>
  <div>
    {% if section -%}
    <div>{{ section }}</div>
    {%- endif %}
    <h1>{{ title | utils.widont }}</h1>
  </div>
  <p class="description">{{ content | utils.widont }}</p>
</header>
