{#def title="", description="" #}

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="light">
<head>
<meta charset="utf-8">
<style>html{background-color:rgb(23 23 23)}</style>
<MetaTags page={{ page }} />
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon.png">
<link rel="stylesheet" href="/static/theme.css?v={{ utils.timestamp }}">
<link rel="stylesheet" href="/static/prose.css?v={{ utils.timestamp }}">
<link rel="stylesheet" href="/static/docs.css?v={{ utils.timestamp }}">
{{ catalog.render_assets() }}
{% if page.prev_page and page.prev_page.url -%}
  <link href="{{ page.prev_page.url }}" rel="prev">
{% endif -%}
{% if page.next_page and page.next_page.url -%}
  <link href="{{ page.next_page.url }}" rel="next">
{% endif -%}
<meta property="generator" content="claydocs" />
</head>
<body {{ attrs.render() }}>
{{ content }}
</body>
</html>
