{#def title="", description="" #}

<!DOCTYPE html>
<html lang="{{ nav.page.lang }}" class="light">
	<head>
		<meta charset="utf-8">
		<MetaTags :title="title" :description="description" />
		<meta property="generator" content="claydocs" />
	</head>
	<body {{ attrs.render() }}>
		{{ content }}
	</body>
</html>
