.scrollbar-thin {
scrollbar-width: thin; /* Firefox */
}
.scrollbar-thin::-webkit-scrollbar {
/* Safari and Chrome */
width: 2px;
background-color: ButtonFace;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
background-color: var(--accent);
}
body.dark .scrollbar-thin::-webkit-scrollbar-thumb {
background-color: var(--accent-dark);
}
.scrollbar-default {
-ms-overflow-style: auto; /* IE and Edge */
scrollbar-width: auto; /* Firefox */
}
.scrollbar-default::-webkit-scrollbar {
/* Safari and Chrome */
width: auto;
}
