<a {{ attrs.render(
  class="
    group
    flex-inline justify-center items-center
    appearance-none whitespace-nowrap rounded
    p-1 hover:shadow-sm
    cursor-pointer touch-manipulation

    disabled:cursor-default disabled:outline-none
    focus:outline-accent dark:focus:outline-accent-darker focus:outline-offset-1

    hover:bg-zinc-100
    dark:hover:bg-zinc-900

    hover:border-zinc-300 active:border-zinc-400
    dark:hover:border-zinc-500 dark:active:border-zinc-400

    text-sm font-semibold
    text-zinc-800 hover:text-zinc-900
    dark:text-zinc-200 dark:hover:text-zinc-100
  ",
) }}>{{ content }}</a>
