{#js toggle.js #}

<div {{ attrs.render(
  id="menu",
  class="group fixed inset z-30 hidden open:block",
) }}>
  <div
    class="
      fixed inset-0
      transition-all
      bg-black/0 group-open:bg-black/20
      dark:bg-white/0 group-open:dark:bg-white/20
      backdrop-blur-none group-open:backdrop-blur-sm
    "
    data-toggle="#menu|[open]"
  ></div>


  <div class="
    text-sm pb-12 justify-between
    bg-white dark:bg-zinc-900
    border-r dark:border-r-zinc-600
    fixed top-0 bottom-0 left-0
    w-full max-w-md
    overflow-auto overscroll-contain
  ">
    <div class="content flex items-center h-16">
      {% CloseBtn class="ml-[-5px] mr-4" aria-label="Close" data-toggle="#menu|[open]" end %}CloseBtn %}
      {% Logo base_url=nav.base_url end %}Logo %}
      {% SearchBtn class="ml-auto" end %}SearchBtn %}
    </div>

    <nav class="content flex flex-col pt-5 pb-5 text-base">
      {% Toc toc=nav.toc, page=nav.page  end %}Toc %}
    </nav>
  </div>
</div>
