{#js toggle.js #}

<div {{ attrs.render(
  id="menu",
  class="group fixed inset z-50 hidden open:block open:lg:hidden w-full h-screen overscroll-contain",
) }}>
  <div
    class="
      hidden sm:block fixed inset-0
      transition-all
      bg-black/0 group-open:bg-black/20
      dark:bg-white/0 group-open:dark:bg-white/20
      backdrop-blur-none group-open:backdrop-blur-sm
    "
    data-toggle="#menu|[open]"
  ></div>


  <div class="
    text-sm pb-12
    bg-white dark:bg-zinc-900
    sm:border-l dark:sm:border-l-zinc-600
    fixed top-0 bottom-0 right-0
    w-full max-w-screen-sm
    overscroll-contain
  ">
    <div class="mb-3 border-b border-zinc-200 dark:border-zinc-600">
      <div class="flex items-center h-14 px-4 sm:px-6">
        <Logo base_url={nav.base_url} class="mr-auto" />
        <LangSwitch class="ml-3" languages={nav.languages} lang={nav.lang} />
        <ThemeSwitch class="ml-3" text={false} />
        <CloseBtn class="ml-3" aria_label="Close" data_toggle="#menu|[open]" />
      </div>
    </div>

    <nav class="flex items-center justify-start pb-3 space-x-4
      border-b border-zinc-200 dark:border-zinc-600
      text-base
      pl-[max(1rem,env(safe-area-inset-left))]
      pr-[max(1rem,env(safe-area-inset-right))]
      sm:px-6 lg:px-8 overscroll-contain
    ">
      <NavLinks></NavLinks>
    </nav>

    <nav class="
      flex flex-col mb-5 text-base
      pl-[max(1rem,env(safe-area-inset-left))]
      pr-[max(1rem,env(safe-area-inset-right))]
      sm:px-6 lg:px-8 overscroll-contain
    ">
      <Toc toc={nav.toc} page={nav.page} />
    </nav>
  </div>
</div>
