{#def page #}

{% set DEFAULT_TITLE = "JinjaX Documentation" %}
{% set title = (page.title + " | " + DEFAULT_TITLE) if page.title else DEFAULT_TITLE %}
{% set description = page.description %}

<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ nav.domain }}{{ page.url }}">
<meta property="og:title" content="{{ title }}">
<meta property="twitter:title" content="{{ title }}">
{% if description -%}
<meta property="og:description" content="{{ description }}">
<meta property="twitter:description" content="{{ description }}">
{%- endif %}
<meta property="og:image" content="{{ nav.domain }}{{ page.url }}/og-card.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="{{ nav.domain }}{{ page.url }}/og-card.png">
