{% do attrs.set(id="navMobile", class="cd-nav-mobile", data_component="NavMobile") %}

<Popover _attrs={{ attrs }}>
  <header>
    <Logo base_url={{ page.base_url }} class="logo" />
    <nav class="cd-navbar nav-links">
      <ThemeSwitch class="themeswitch" text={{ false }} />
    </nav>
    <PopButton
      target="navMobile"
      action="close"
      title="Close menu"
      class="cd-toggle-sidebar cd-text-button"
    >Close</PopButton>
  </header>

  <Toc class="toc" toc={{ nav.toc }} page={{ page }} />
</Popover>
