<section class="cd-nav-top", data_component="NavTop">
  <div class="wrapper">
    <Logo class="logo" base_url={{ page.base_url }} />
    <nav class="cd-navbar nav-links">
      <NavLinks />
      <ThemeSwitch class="themeswitch" text={{ false }} />
    </nav>
    <nav class="nav-extra">
      <NavExtra />
    </nav>
    <PopButton
      target="navMobile"
      title="Show menu"
      class="cd-toggle-sidebar cd-text-button"
    >Menu</PopButton>
  </div>
</section>
