.Page .prose, .Page .prose-zinc {
  --tw-prose-body: inherit;
  --tw-prose-links: inherit;
  --tw-prose-bold: inherit;
  --tw-prose-code: inherit;
  --tw-prose-pre-code: inherit;
  --tw-prose-pre-bg: inherit;
  --tw-prose-invert-body: inherit;
  --tw-prose-invert-links: inherit;
  --tw-prose-invert-bold: inherit;
  --tw-prose-invert-code: inherit;
  --tw-prose-invert-pre-code: inherit;
  --tw-prose-invert-pre-bg: inherit;
  color: inherit;
  max-width: none;
}

.Page ul.task-list ul.task-list {
  padding-left: 1em;
}

.Page dl {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.Page dt {
  font-weight: bold;
}
.Page dd {
  padding-left: 1em;
}

.Page code {
  white-space: nowrap;
  font-feature-settings: "kern";
  font-size: 0.98em;
  font-weight: 600;
  rgb(245, 245, 245)
}
.Page code::before, .Page code::after {
  content: none;
}

.Page pre code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
               "Noto Sans Mono", "Courier New", monospace;
  background: transparent;
  display: flow-root;
  line-height: 1.4;
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  font-size: 1em;
  padding: 1em 1em;
  white-space: pre;
  display: block;
  position: relative;
  font-weight: normal;
}
.Page pre code {
  scrollbar-width: thin; /* Firefox */
}
.Page pre code::-webkit-scrollbar {
  width: 2px;
  background-color: ButtonFace;
}

.Page .highlight {
  --border-color: 51, 51, 51;
  --bg-color: 24, 24, 24;
  --color: 238, 238, 238;
  background-color: rgb(var(--bg-color));
  color: rgb(var(--color));
  border: 1px solid rgb(var(--border-color));
  border-radius: 0 0 6px 6px;
}
.Page .highlight .filename {
  display: block;
  padding: 0.4em 1em;
  font-weight: 500;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(var(--border-color));
}
.Page .highlight a {
  text-decoration: none;
}
.Page .highlight [data-linenos]:before {
  display: inline-block;
  content: attr(data-linenos);
  background-color: rgb(var(--bg-color));
  outline: 2px 0 2px 0;
  outline-style: solid;
  outline-color: rgb(var(--bg-color));
  color: rgba(var(--color), 0.3);
  box-shadow: -.05rem 0 rgba(var(--border-color), 0.3) inset;
  user-select: none;
  font-weight: 300;
  font-size: 0.8em;

  padding: 0;
  margin: 0;
  width: 2.5rem;
  text-align: right;
  position: sticky;
  left: -1.9rem;
  margin-left: -1.9rem;
  margin-right: 1em;
}

.Page .highlight .hll { background-color: #49483e }
.Page .highlight .c { color: #75715e } /* Comment */
.Page .highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.Page .highlight .k { color: #66d9ef } /* Keyword */
.Page .highlight .l { color: #ae81ff } /* Literal */
.Page .highlight .n { color: #f8f8f2 } /* Name */
.Page .highlight .o { color: #f92672 } /* Operator */
.Page .highlight .p { color: #f8f8f2 } /* Punctuation */
.Page .highlight .ch { color: #75715e } /* Comment.Hashbang */
.Page .highlight .cm { color: #75715e } /* Comment.Multiline */
.Page .highlight .cp { color: #75715e } /* Comment.Preproc */
.Page .highlight .cpf { color: #75715e } /* Comment.PreprocFile */
.Page .highlight .c1 { color: #75715e } /* Comment.Single */
.Page .highlight .cs { color: #75715e } /* Comment.Special */
.Page .highlight .gd { color: #f92672 } /* Generic.Deleted */
.Page .highlight .ge { font-style: italic } /* Generic.Emph */
.Page .highlight .gi { color: #a6e22e } /* Generic.Inserted */
.Page .highlight .gs { font-weight: bold } /* Generic.Strong */
.Page .highlight .gu { color: #75715e } /* Generic.Subheading */
.Page .highlight .kc { color: #66d9ef } /* Keyword.Constant */
.Page .highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.Page .highlight .kn { color: #f92672 } /* Keyword.Namespace */
.Page .highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.Page .highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.Page .highlight .kt { color: #66d9ef } /* Keyword.Type */
.Page .highlight .ld { color: #e6db74 } /* Literal.Date */
.Page .highlight .m { color: #ae81ff } /* Literal.Number */
.Page .highlight .s { color: #e6db74 } /* Literal.String */
.Page .highlight .na { color: #a6e22e } /* Name.Attribute */
.Page .highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.Page .highlight .nc { color: #a6e22e } /* Name.Class */
.Page .highlight .no { color: #66d9ef } /* Name.Constant */
.Page .highlight .nd { color: #a6e22e } /* Name.Decorator */
.Page .highlight .ni { color: #f8f8f2 } /* Name.Entity */
.Page .highlight .ne { color: #a6e22e } /* Name.Exception */
.Page .highlight .nf { color: #a6e22e } /* Name.Function */
.Page .highlight .nl { color: #f8f8f2 } /* Name.Label */
.Page .highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.Page .highlight .nx { color: #a6e22e } /* Name.Other */
.Page .highlight .py { color: #f8f8f2 } /* Name.Property */
.Page .highlight .nt { color: #f92672 } /* Name.Tag */
.Page .highlight .nv { color: #f8f8f2 } /* Name.Variable */
.Page .highlight .ow { color: #f92672 } /* Operator.Word */
.Page .highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.Page .highlight .mb { color: #ae81ff } /* Literal.Number.Bin */
.Page .highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.Page .highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.Page .highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.Page .highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.Page .highlight .sa { color: #e6db74 } /* Literal.String.Affix */
.Page .highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.Page .highlight .sc { color: #e6db74 } /* Literal.String.Char */
.Page .highlight .dl { color: #e6db74 } /* Literal.String.Delimiter */
.Page .highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.Page .highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.Page .highlight .se { color: #ae81ff } /* Literal.String.Escape */
.Page .highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.Page .highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.Page .highlight .sx { color: #e6db74 } /* Literal.String.Other */
.Page .highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.Page .highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.Page .highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.Page .highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.Page .highlight .fm { color: #a6e22e } /* Name.Function.Magic */
.Page .highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.Page .highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.Page .highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.Page .highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.Page .highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
