<Layout
  :title="meta.get('title', '')"
  :description="meta.get('description', '')"
  :class="meta.get('class', 'tPageSingle')"
>
  <NavTop />
  <main>{{ content }}</main>
  <NavMobile />
  <Footer />
</Layout>
