<Layout
  :title="nav.page.title"
  :description="nav.page.description"
  :class="meta.get('class', 'cd-page')"
>
  <NavTop></NavTop>
  <div class="page-wrapper">
    <NavGlobal></NavGlobal>
    <main id="main" class="page prose">{{ content }}</main>
    <NavLocal></NavLocal>
  </div>
  <PrevNext
    :curr="nav.page"
    :prev="nav.prev_page"
    :next="nav.next_page"
  />
  <NavMobile></NavMobile>
  <Footer></Footer>
</Layout>
