{#def title="" #}

<Layout title={title} description={meta.get('description', '')}>
  <NavBar></NavBar>
  <main class="m-0 p-0 max-w-full font-sans">
    {{ content }}
  </main>
  <Menu></Menu>
  <Footer></Footer>
</Layout>
