<Layout
  title={{ page.title }}
  description={{ page.description }}
  class={{ meta.get('class', 'cd-page-single') }}
>
  <NavTop />
  <main>{{ content }}</main>
  <NavMobile />
  <Footer />
</Layout>
