{#def curr, prev, next #}

<nav {{ attrs.render(class="flex items-center font-semibold") }}>
  {% if prev.url -%}
  <a
    href="{{ prev.url }}"
    class="group no-underline flex flex-col py-3 w-1/2 mr-5"
  >
    <div class="
      text-xs font-medium ml-4
      text-zinc-500 group-hover:text-zinc-600
      dark:text-zinc-500 dark:group-hover:text-zinc-400
    ">
      {{ prev.section or "Previous" if prev.section != curr.section else "Previous" }}
    </div>
    <div class="
      flex items-center
      text-zinc-600 group-hover:text-zinc-900
      dark:text-zinc-300 dark:group-hover:text-white
    ">
      <div class="w-4">
        <ArrowRight class="rotate-180" />
      </div>
      {{ prev.title }}
    </div>
  </a>
  {%- endif %}
  {% if next.url -%}
  <a
    href="{{ next.url }}"
    class="group ml-auto no-underline flex flex-col items-end py-3 w-1/2"
  >
    <div class="
      text-xs font-medium mr-4
      text-zinc-500 group-hover:text-zinc-600
      dark:text-zinc-500 dark:group-hover:text-zinc-400
    ">
      {{ next.section or "Next" if next.section != curr.section else "Next" }}
    </div>
    <div class="
      flex items-center
      text-zinc-600 group-hover:text-zinc-900
      dark:text-zinc-300 dark:group-hover:text-white
    ">
      {{ next.title }}
      <div class="w-4">
        <ArrowRight class="float-right" />
      </div>
    </div>
  </a>
  {%- endif %}
</nav>
