{#def url="{URL}", title="{TITLE}", parent="{PARENT}", body="{BODY}", score="{SCORE}" #}

<article
  class="m-2 [&_mark]:font-bold [&_mark]:text-accent [&_mark]:underline [&_mark]:bg-transparent"
  data-md-score="{{ score }}"
>
<a href="{{ url }}" class="no-underline block p-2 border rounded  hover:bg-zinc-100 cursor-pointer">
  <h2 class="font-medium text-sm mb-1">{{ parent }}</h2>
  <h1 class="font-semibold text-base mb-2">{{ title }}</h1>
  <div class="">{{ body }}</div>
</a>
</article>
