<button type="button"
  {{ attrs.render(
    class="flex items-center text-sm leading-6 text-zinc-400 rounded-md ring-1 ring-zinc-900/10 shadow-sm py-1.5 pl-2 pr-3 hover:ring-zinc-300
  dark:bg-zinc-800 dark:highlight-white/5 dark:hover:bg-zinc-700 border border-zinc-200 hover:border-zinc-100 cursor-pointer
    dark:border-zinc-600 dark:hover:border-zinc-700",
    data_show_modal="#search-dialog",
  ) }}>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
  </svg>
  Search...
  <kbd class="ml-auto text-xs font-semibold flex items-center justify-center p-1 text-zinc-400 rounded border border-zinc-300 dark:border-zinc-600 leading-tight">
    <span class="macos-only tracking-widest">&#x2318;K</span>
    <span class="macos-hidden">Ctrl K</span>
  </kbd>
</button>
