<div {{ attrs.render(class="
    w-64 2xl:w-[30rem] z-0
    overflow-x-hidden overflow-y-auto overscroll-contain scrollbar-thin
    sticky top-0 tall:top-16 scroll-smooth
  ",) }}>
  <div class="mt-10 pb-14 pl-4 border-l border-default-color text-sm">
    {% TocPage toc=nav.page_toc end %}TocPage %}
  </div>
</div>
