<div {{ attrs.render(
  class="
    sticky top-0 tall:top-16 z-0 pr-4 border-r border-default-color
    w-64 2xl:w-[40rem] text-sm 2xl:text-base
    overflow-y-auto scrollbar-thin
  ",
) }}>
  <nav class="
    flex flex-col mt-10 pb-14 w-full
  ">
    {% Toc toc=nav.toc, page=nav.page end%}
  </nav>
</div>
