<div {{ attrs.render(class="
    w-64 z-0
    overflow-x-hidden overflow-y-auto overscroll-contain scrollbar-thin
    sticky top-0 tall:top-16 scroll-smooth h-fit
",) }}>
  <div class="mt-10 pb-14 pl-4 border-l border-zinc-200 dark:border-zinc-600 text-sm">
    <TocPage toc={nav.page_toc} />
  </div>
</div>
