{% do attrs.set(
  class="relative px-5 py-2 w-full z-10
  text-sm text-center select-none
  border rounded-t border-zinc-400 dark:border-zinc-600
  bg-zinc-200/80 dark:bg-zinc-700
  open:z-20 open:border-b-transparent dark:open:border-b-transparent
  open:text-zinc-700 dark:open:text-white
  open:bg-white dark:open:bg-zinc-800
  disabled:cursor-not-allowed disabled:z-0
  disabled:text-zinc-400 disabled:bg-zinc-300"
) %}

{% ui_Tab __attrs=attrs %}{{ content }}{% endui_Tab %}
