<button {{ attrs.render(
  class="
    group
    flex justify-center items-center
    appearance-none whitespace-nowrap rounded
    p-1 hover:shadow-sm
    cursor-pointer touch-manipulation

    disabled:cursor-default disabled:outline-none
    focus:outline-accent dark:focus:outline-accent-darker focus:outline-offset-1

    bg-zinc-50 hover:bg-zinc-100
    dark:bg-zinc-600/10 dark:hover:bg-zinc-900

    border border-transparent
    hover:border-zinc-200 active:border-zinc-100
    dark:hover:border-zinc-600 dark:active:border-zinc-700

    text-sm font-semibold
    text-zinc-800 hover:text-zinc-900
    dark:text-zinc-200 dark:hover:text-zinc-100
  ",
  type="button"
) }}>{{ content }}</button>
