{# def toc, page #}

{% macro render_item(url, title) %}
{% if url != "/" -%}
<div class="border-l-2 border-zinc-100 dark:border-zinc-700/50 pb-1">
  <a href="{{ url }}"
    class="
      block
      py-1 pl-4 ml-[-2px]
      border-l-2 border-transparent
      hover:border-zinc-300 dark:hover:border-zinc-400
      [&.active]:border-accent [&.active]:hover:border-accent
      [&.active]:dark:border-accent-darker [&.active]:dark:hover:border-accent-darker

      text-zinc-700 hover:text-black
      dark:text-zinc-400 dark:hover:text-zinc-100
      [&.active]:text-accent [&.active]:dark:text-accent-darker
      [&.active]:font-semibold {{ 'active' if page.url == url else '' }}
    "
  >
    {{ title }}
  </a>
</div>
{%- endif %}
{% endmacro %}


{% macro render_section(url, title, children) %}
<details class="my-6" open>
  {% if title -%}
  <summary class="text-medium text-zinc-800 dark:text-zinc-100 mb-2">
    {{ title }}
  </summary>
  {%- endif %}
  {{ render_children(children) }}
</details>
{% endmacro %}


{% macro render_children(children) %}
  {%- for url, title, sub_children in children %}
    {% if sub_children -%}
      {{ render_section(url, title, sub_children) }}
    {%- else -%}
      {{ render_item(url, title) }}
    {%- endif %}
  {%- endfor %}
{% endmacro %}

{{ render_children(toc) }}
