{# def toc, page #}

{% macro render_item(url, title) %}
{% if url != "/" -%}
<div
  class="
    group {{ 'active' if page.url == url else '' }}
    border-l-2 border-zinc-100 dark:border-zinc-700/50
    hover:border-zinc-300 dark:hover:border-zinc-400

    [&.active]:border-accent [&.active]:hover:border-accent
    [&.active]:dark:border-accent-darker [&.active]:dark:hover:border-accent-darker

    pl-2
  "
>
  <a
    href="{{ url }}"
    class="
      text-zinc-700 hover:text-black
      dark:text-zinc-400 dark:hover:text-zinc-100
      flex items-center py-1 px-2 rounded
      border border-transparent

      group-[.active]:font-medium
      group-[.active]:text-zinc-800
      group-[.active]:dark:text-zinc-300
      group-[.active]:border-zinc-200
      group-[.active]:bg-zinc-100
    "
  >
      {{ title }}
  </a>
</div>
{%- endif %}
{% endmacro %}


{% macro render_collapsable(title, children) %}
<details class="my-6" open>
  {% if title -%}
  <summary class="font-semibold text-zinc-800 dark:text-zinc-100 mb-2">
    {{ title }}
  </summary>
  {%- endif %}
  {{ render_children(children) }}
</details>
{% endmacro %}


{% macro render_section(title, children) %}
<section class="my-6" open>
  {% if title -%}
  <h2 class="font-semibold text-zinc-800 dark:text-zinc-100 mb-2">
    {{ title }}
  </h2>
  {%- endif %}
  {{ render_children(children) }}
</section>
{% endmacro %}


{% macro render_children(children, collapsable=True) %}
  {%- for url, title, sub_children in children %}
    {% if sub_children -%}
      {% if collapsable -%}
        {{ render_collapsable(title, sub_children) }}
      {%- else -%}
        {{ render_section(title, sub_children) }}
      {%- endif %}
    {%- else -%}
      {{ render_item(url, title) }}
    {%- endif %}
  {%- endfor %}
{% endmacro %}


{{ render_children(toc, collapsable=False) }}
