{#css ui/Accordion/Accordion.css #}

<div class="bg-cover"
  style="background-image:linear-gradient(to right, rgba(252,211,77, 0.9), rgba(251,146,60, 0.9))"
  data-md-skip
></div>

<Accordion id="accordion-demo" data-md-skip>
  <details>
    <summary>Is it accessible?</summary>
    <div class="panel">
      Yes, more than any custom accordion you'll find on the web, because it's made
      with native elements.
    </div>
  </details>

  <details>
    <summary>Is it unstyled?</summary>
    <div class="panel">
      Yes. The Accordion doesn't need any styles, you are free to style your
      <code>&lt;details&gt;</code> elements however you need.
    </div>
  </details>

  <details>
    <summary>Can it be animated?</summary>
    <div class="panel">
      The <code>&lt;details&gt;</code> elements can be animated (with some restrictions)
      using CSS animations, or with JS.
    </div>
  </details>
</Accordion>