{#css ui/Tabs/Tabs.css #}

<div class="bg-cover"
  style="background-image:linear-gradient(to right, rgba(56,189,248, 0.9), rgba(37,99,235, 0.9))"
  data-md-skip
></div>

<div class="horizontal-tabs" data-md-skip>
  <TabGroup>
    <TabList>
      <Tab target="demo-recent" selected>Recent</Tab>
      <Tab target="demo-popular">Popular</Tab>
      <Tab target="demo-trending">Trending</Tab>
    </TabList>

    <TabPanel id="demo-recent">
      <p>This is the tab panel for <b>"Recent"</b>.</p>
    </TabPanel>

    <TabPanel id="demo-popular" hidden>
      <p>This is the tab panel for <b>"Popular"</b>.</p>
    </TabPanel>

    <TabPanel id="demo-trending" hidden>
      <p>This is the tab panel for <b>"Trending"</b>.</p>
    </TabPanel>
  </TabGroup>
</div>
