{% filter markdown %}{% raw %}
```css
.ui-tablist {
  display: flex;
}
.ui-tablist > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0.25rem ;
}
.ui-tablist {
  border-radius: 1rem;
  background-color: rgb(30 58 138 / 0.6);
  padding: 0.5rem;
  color: #111;
}
.ui-tablist > .ui-tab:not([hidden]) ~ .ui-tab:not([hidden]) {
  margin-left: 0.5rem;
}
.ui-tab {
  width: 100%;
  border-radius: 0.5rem;
  color: #222;
  background-color: rgb(255 255 255 / 0.7);
  padding: 0.75rem 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.ui-tab:focus {
  outline: 2px solid rgb(59 130 246 / 0.8);
  outline-offset: 2px;
}
.ui-tab.ui-selected {
  background-color: white;
  color: black;
}
.ui-tab:hover:not(.ui-selected, .ui-disabled),
.ui-tab:focus:not(.ui-selected, .ui-disabled) {
  background-color: rgb(255 255 255 / 0.8);
}
.ui-tabpanel {
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  background-color: rgb(254 254 254);
  border: 2px solid rgb(59 130 246 / 0.8);
  padding: 0.1rem;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-tabpanel:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.ui-tabpanel.ui-hidden {
  display: none;
}
```
{% endraw %}{% endfilter %}