<section class="p-7 max-w-4xl mx-auto mb-10">
  <h2 class="text-4xl font-extrabold mb-5 text-center">
    Better than <code>include</code> and <code>macros</code>
  </h2>
  <div class="mt-10 grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-2">
    <div>
      <div class="md:h-44 p-5 border rounded-xl bg-zinc-50 dark:bg-slate-700/50">
        <h3 class="mb-2 font-semibold text-slate-900 dark:text-slate-200">Simple</h3>
        <div class="prose prose-zinc text-zinc-600 dark:prose-dark">
          Easier to use and easier to&nbsp;read.
        </div>
      </div>
    </div>
    <div>
      <div class="md:h-44 p-5 border rounded-2xl bg-zinc-50 dark:bg-slate-700/50">
        <h3 class="mb-2 font-semibold text-slate-900 dark:text-slate-200">Practical</h3>
        <div class="prose prose-zinc text-zinc-600 dark:prose-dark">
          Just regular Jinja files and no need to import&nbsp;them.
        </div>
      </div>
    </div>
    <div>
      <div class="md:h-44 p-5 border rounded-2xl bg-zinc-50 dark:bg-slate-700/50">
        <h3 class="mb-2 font-semibold text-slate-900 dark:text-slate-200">Composable</h3>
        <div class="prose prose-zinc text-zinc-600 dark:prose-dark">
          Can wrap content (HTML, other components, etc.) in a natural&nbsp;way.
        </div>
      </div>
    </div>
    <div>
      <div class="md:h-44 p-5 border rounded-2xl bg-zinc-50 dark:bg-slate-700/50">
        <h3 class="mb-2 font-semibold text-slate-900 dark:text-slate-200">Encapsulated</h3>
        <div class="prose prose-zinc text-zinc-600 dark:prose-dark">
          Can link to their own <i>css</i> or <i>js</i> files and be copy/pasted to other projects with no&nbsp;modifications.
        </div>
      </div>
    </div>
  </div>
</section>
