<section class="
  pr-[max(0.75rem,env(safe-area-inset-right))]
  pl-[max(0.75rem,env(safe-area-inset-left))]
  sm:px-6 py-8 sm:py-12
  sm:mb-10 mx-auto max-w-4xl xl:max-w-screen-xl
">
  <h2 class="text-4xl font-extrabold mb-5 text-center">
    Better than <code>include</code> and&nbsp;<code>macros</code>
  </h2>
  <div class="
    mt-10 text-xl grid grid-cols-1 gap-x-4 gap-y-6 md:grid-cols-2 xl:grid-cols-4
  ">
    <Home.BetterCard title="Encapsulated">
      Link to their own <code>css</code> and/or <code>js</code> files and can be copy/pasted to other projects without&nbsp;modifications.
    </Home.BetterCard>

    <Home.BetterCard title="Simple">
      Just regular Jinja files and no need to import&nbsp;them.
      Easier to use and easier to&nbsp;read.
    </Home.BetterCard>

    <Home.BetterCard title="Modern">
      Components works great with
      <a href="https://htmx.org/" target="_blank" class="font-semibold">htmx</a>,
      <a href="https://tailwindcss.com/" target="_blank" class="font-semibold">TailwindCSS</a>,
      or&nbsp;<a href="https://hotwired.dev/" target="_blank" class="font-semibold">Hotwire</a>
    </Home.BetterCard>

    <Home.BetterCard title="Composable">
      Can wrap content (HTML, other components, etc.) in a natural&nbsp;way.
    </Home.BetterCard>
  </div>
</section>
