<section class="bg-gradient-to-b from-stone-300 via-stone-200 to-stone-400 dark:from-black dark:to-stone-900
">
  <div class="
    pr-[max(0.75rem,env(safe-area-inset-right))]
    pl-[max(0.75rem,env(safe-area-inset-left))]
    sm:px-6 py-24 max-w-4xl mx-auto text-center
  ">
    <h3 class="text-4xl font-extrabold mb-5 text-center">
      Ready to get going? Engage!
    </h3>
    <Button
      tag="a"
      href="/guide/"
      class="
        font-bold mb-5 px-8 text-center mx-auto
        bg-gradient-to-tr from-lime-400 to-lime-600
        hover:from-lime-400 hover:to-lime-400
        text-zinc-800 hover:text-black
        transition-all duration-300
      ">
      See the Documentation
    </Button>
    <div class="text-xs">Millions of people clicked a button in the last week alone!</div>
  </div>
</section>
