<div class="md:h-[500px] [&_.highlight]:h-full [&_pre]:h-full
  [&_code]:h-full text-sm">
  {% markdown %}
  {% raw %}
```html+jinja
{% extends "layout.html" %}

{% block title %}
  I just wanted to set a title!
{% endblock %}

{% from "bunch_of_macros.html"
  import card_macro, another_macro %}

{% block content -%}
  <div>
    <h2>Hello {{ mistery or "World?" }}</h2>
    <div>
      {% call card_macro(header="So verbose") %}
        {% for product in products %}
          {{ another_macro(product) }}
        {% endfor %}
      {% endcall %}
    </div>
  </div>
  {% with items=products %}
    {% include "snippets/pagination.html" %}
  {% endwith %}
{%- endblock %}
```
  {% endraw %}
  {% endmarkdown %}
</div>
