<section class="
  sm:px-6 py-8 sm:py-12 max-w-5xl mx-auto sm:mb-10
">
  <h1 class="text-4xl font-extrabold mb-5 text-center">
    From chaos to&nbsp;clarity
  </h1>
  <div class="md:flex md:items-stretch">
    <div class="md:w-1/2 sm:pr-2">
      <h2 class="text-xl bold mb-3 text-center italic">
        Before
      </h2>
      <Home.ExampleChaos />
    </div>

    <div class="md:w-1/2 sm:pl-2">
      <h2 class="text-xl bold mt-6 sm:mt-0 mb-3 text-center italic">
        After
      </h2>
      <Home.ExampleClarity />
    </div>
  </div>
</section>
