<section class="p-7 max-w-5xl mx-auto mb-10 md:flex md:items-stretch">
  <div class="md:w-1/2 pr-2">
    <h2 class="text-2xl bold mb-5 text-center">
      From
      <span class="inline-block font-['Comic_Sans_MS'] -rotate-3 tracking-tighter pr-1">chaos</span>...
    </h2>
    {% Home_ExampleChaos end%}
  </div>

  <div class="md:w-1/2 pt-4 md:pt-0 pl-2">
    <h2 class="text-2xl bold mb-5 text-center">
      ... to
      <span class="font-light [text-shadow:rgba(56,189,248,0.5)_1px_0_1px]">clarity</span>
    </h2>
    {% Home_ExampleClarity end%}
  </div>
</section>
