<section class="
  sm:px-6 py-6 max-w-6xl mx-auto sm:mb-10
  border border-neutral-300 dark:border-neutral-600
  bg-stone-200 dark:bg-stone-800 rounded-2xl
">
  <h1 class="hidden sm:block text-3xl md:text-4xl font-extrabold mb-8 text-center">
    From chaos to&nbsp;clarity
  </h1>
  <div class="md:flex md:items-stretch">
    <div class="md:w-1/2 sm:pr-2">
      <h2 class="text-xl bold mb-2 text-center italic">
        Before
      </h2>
      <Home.ExampleChaos />
    </div>

    <div class="md:w-1/2 sm:pl-2">
      <h2 class="text-xl bold mt-6 sm:mt-0 mb-2 text-center italic">
        After
      </h2>
      <Home.ExampleClarity />
    </div>
  </div>
</section>
