<section class="p-7 max-w-3xl mx-auto text-[3rem] leading-tight flex flex-start">
  <img src="/static/img/logo.svg" width="80" height="80" class="h-20 w-20 inline-block">
  <div class="pl-4">{{ content }}</div>
</section>
