<header class="bg-gradient-to-br from-stone-100 to-stone-300 dark:from-stone-900 dark:to-black">
  <div class="
    pr-[max(0.75rem,env(safe-area-inset-right))]
    pl-[max(0.75rem,env(safe-area-inset-left))]
    sm:px-6 py-9 sm:pt-10 sm:pb-12 max-w-3xl mx-auto
    flex flex-col items-center
  ">
    <h1 class="text-center sm:flex sm:items-center mb-6">
      <img src="/static/img/logo.svg" width="80" height="80" class="h-20 w-20 hidden sm:inline-block mr-10">
      <div class="text-8xl md:text-9xl font-black">Jinja<span class="fadeIn font-bold inline-block">X</span></div>
    </h1>
    <h2 class="text-3xl sm:text-4xl leading-tight text-center">
      Super components powers for your Jinja&nbsp;templates
    </h2>
  </div>
</header>
