<header class="mb-8">
  <div class="
    px-6 py-9 sm:pt-10 sm:pb-12 max-w-4xl mx-auto
    flex flex-col
    text-neutral-900 dark:text-neutral-100
  ">
    <h1 class="hidden lg:flex items-center lg:justify-center mb-6">
      <img src="/static/img/logo.svg" width="80" height="80" class="h-20 w-20 mr-6 lg:mr-9">
      <div class="text-5xl md:text-6xl lg:text-7xl font-black">
        Jinja<span class="text-black dark:text-white">X</span>
      </div>
    </h1>
    <h2 class="
      text-4xl leading-tight md:text-5xl md:leading-tight
      tracking-tighter lg:text-center font-semibold
    ">
      Super
      <span class="bg-clip-text text-transparent bg-gradient-to-br from-amber-400 to-orange-400">
        components powers
      </span>
      for your
      <span class="bg-clip-text text-transparent bg-gradient-to-br from-emerald-400 to-blue-500">
        Jinja
      </span>
      templates
    </h2>
  </div>
</header>
