<section class="mb-5 pr-[env(safe-area-inset-right)] pl-[env(safe-area-inset-left)]">
  <div class="px-3 sm:px-6 py-8 sm:py-12 max-w-5xl mx-auto">
    <h2 class="text-4xl font-extrabold mb-5 text-center">
      Say goodbye to spaghetti&nbsp;templates
    </h2>

    <div class="text-xl lg:pl-72 relative">
      <img src="/static/img/spaghetti_code.png" alt="Spaguetti code"
      class="hidden lg:block h-full absolute left-0 top-0" />

      <p class="mb-4">
        Your Python code should be easy to understand and&nbsp;test.
      </p>
      <p class="mb-4">
        <b>Template code, however, often fails even basic code standards</b>: long methods, deep conditional nesting, and mystery variables&nbsp;everywhere.
      </p>
      <p class="mb-4">
        <b>But when it's built with components, you see</b> where everything is, understand what are the possible states of every piece of UI, and know exactly what data need to&nbsp;have.
      </p>
      <p class="mb-4">
        You can replace <b>all</b> your templates with components, or start with one&nbsp;section.
      </p>
    </div>
  </div>
</section>
