<section class="p-7 max-w-4xl mx-auto mb-10">
  <h2 class="text-4xl font-extrabold mb-5 text-center">Say goodbye to spaghetti templates</h2>
  <div>
    <p class="mb-4">
      We want our Python code to be easy to understand and test.
    </p>
    <p class="mb-4">
      <b>Template code, however, often fails even basic code standards</b>: long methods, deep conditional nesting, and mystery variables everywhere.
    </p>
    <p class="mb-4">
      <b>But when it's built with components, you see</b> where everything is, understand what are the possible states of every piece of UI, and know exactly what data need to have.
    </p>
    <p class="mb-4">
      You can replace <b>all</b> your templates with components, or start with one section.
    </p>
  </div>
</section>
